p {
  color:black;
  font-size: 1em;
  font-family: Helvetica;

}

br {
  text-indent: 10px;
}

span {
  color: red;
}

div h3 {
  text-indent: 200px;
}

div p {
  color: black;
}

div p li {
  color:#c5b358;
  font-size: 1em;
  font-family: Helvetica;
}

#box_1 {

  background-color: #028484;
  position: relative;
  width: 500px;
  border-style: groove;
  border-color: #c5b358;

}

#box_2 {
  background-color: #028484;
  position: relative;
  width: 500px;
  border-style: groove;
  border-color: #c5b358;
  left: 35em;
  bottom: 17.5em;
}

#box_3 {
  background-color: #028484;
  position: relative;
  width: 500px;
  border-style: groove;
  border-color: #c5b358;
  bottom: 12em;
}

#box_4 {
  background-color: #028484;
  position: relative;
  width: 500px;
  border-style: groove;
  border-color: #c5b358;
  left: 35em;
  bottom: 33em;
}

#box_5 {
  bottom: 17em;
  background-color: #028484;
  position: relative;
  width: 500px;
  border-style: groove;
  border-color: #c5b358;

}

#box_6 {
  background-color: #028484;
  position: relative;
  width: 500px;
  border-style: groove;
  border-color: #c5b358;
  left: 35em;
  bottom: 59.5em;
}