
.header{
  font-weight: bold;
  font-family: Garamond;
  font-size: 2em;
}

.body {
  font-family: Helvetica;
}


#pink{
  background-color: #ff69b4;
  width:33%;
}



/*{
  color:red;
  font-family: courier;
  font-weight: italic;
}*/